<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374277539458-c0i91ib9ffl8jtj0d4146mi4ndlgahot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374277539458-c0i91ib9ffl8jtj0d4146mi4ndlgahot</string>
	<key>API_KEY</key>
	<string>AIzaSyCh_Ea3tgkBwbIxiJPs_HwnAIUfWob1R5w</string>
	<key>GCM_SENDER_ID</key>
	<string>374277539458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tech.dev</string>
	<key>PROJECT_ID</key>
	<string>fir-e1033</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-e1033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374277539458:ios:b7a19b0d4d44c33574d69b</string>
</dict>
</plist>